@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Stick+No+Bills:wght@800&family=Gruppo&display=swap");

.Header {
  text-align: center;
  background: #defcf9;
  padding: 30px;
  margin: 0 0 40px 0;
  letter-spacing: 20px;
}

.Header h1 {
  font-family: "Stick No Bills", sans-serif;
  color: white;
  text-shadow: 3px 2px 10px rgba(0, 0, 0, 1);
}

/* .second-color { 
	background: #cadefc; 
}

.third-color { 
	background: #c3bef0; 
}

.fourth-color { 
	background: #cca8e9;  */

.SearchInput {
  padding: 10px;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

.SearchForm {
  display: flex;
  justify-content: center;
}

.SearchButton {
  margin-left: 5px;
  background-color: #defcf9 !important;
  border-color: lightgrey !important;
  color: black !important;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

.SearchButton:hover {
  background-color: #cadefc !important;
  transition: all 200ms ease-in-out;
}

.SearchContainer {
  font-family: 'Gruppo';
  font-size: 18px;
  font-weight: bold;
  display: block;
  margin: 0 auto;
  width: 88%;
}

.SearchContainer .response {
  border-radius: 10px;
  text-transform: capitalize;
}

.SearchContainer .response h4 {
  font-size: 30px;
  margin-left: 40px;
  padding-top: 5px;
  color: white;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.SearchContainer ul {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-left: -65px;
  list-style: none;
}

.response .keyword {
  font-weight: bold;
  font-style: italic;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
}

.form-control {
  width: 50% !important;
}

.SearchContainer .RhymingWords {
  background: #f0e2e8;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}
.SearchContainer .Synonyms {
  background: #c3bef0;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}
.SearchContainer .MeansLike {
  background: #cca8e9;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}
.SearchContainer .Homophones {
  background: #fdffcd;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}
.SearchContainer .Triggers {
  background: #f397b1;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.SearchContainer .hint {
  color: grey;
  font-size: 13px;
  /* display: flex; */
  margin: 10px 0 30px 200px;
  opacity: 0.5;
}
.SearchContainer .hint span {
  font-weight: bold;
}

.SearchContainer .Photos img {
  border-radius: 6px;
  margin: 10px 15px;
}

.Photos .img-fluid {
  max-width: 90%!important;
}
